<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>주문 목록</title>
    <style>
        body { margin: 40px ;}
        table { border-collapse:collapse; width:  70%; margin: 50px;}
        th, td {border:  1px solid #ddd ; padding:  10px; text-align: center;}
        th {background: #dddddd}
    </style>

</head>
<body>

<form action="/products" method="post">
    <tr>주문목록</tr>
    <table>
        <td>주문번호</td>
        <td>이름</td>
        <td>설명</td>
        <td>가격</td>
        <td>재고</td>
        <!-- 복습 th:each 반복문, o:${orders} 별명 달기  -->
        <tr th:each="o: ${orders}">
            <td th:text="${o.id}"></td>
            <td th:text="${o.name}"></td>
            <td th:text="${o.description}"></td>
            <td th:text="${o.price}"></td>
            <td th:text="${o.stock}"></td>
        <td>
            <!-- th:action ~~를정보 전달  데이터전달정도  -->
            <form th:action="@{/orders/{id}/delete(id=${o.id})}" method="post">
            <button type="submit"> 주문 취소 </button>
            </form>
        </td>

        </tr>
        <!-- 반복문끝-->
    </table>



</form>
 <!-- 항상 href 주소 체크하기-->

<a href="/product-list">
    <button type="button"> 이전 </button>
</a>


</body>
</html>